.main-header {
  min-height: 1024px;
  background-image: url(../img/bg_header.png);
  background-color: #f4f5f8;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
  display: flex;
  justify-content: center;

  &:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.7);
  }
}

// .container {
//   margin: 0 auto;
// }

.header {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  padding-top: 40px;
  width: 1170px;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 219px;

  &__svg {
    fill: currentColor;
  }

  &__text {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
  }

  &:hover {
    color: #000;
  }
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 63px;

  &__link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
  }

  &__link:nth-child(2) {
    color: #c7b299;
  }

  &__link:last-child {
    margin-right: 0;
  }
}

.cart {
  appearance: none;
  border: 0;
  background: inherit;
  margin-right: 28px;
  padding: 0;

  &__svg {
    fill: #fff;
    vertical-align: middle;

    &:hover {
      fill: #000;
      cursor: pointer;
    }
  }
}

.btn-search__input[type="search"] {
  width: 24px;
  height: 24px;
  outline: none;
  background-image: url(../img/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  background-color: inherit;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #fff;

  &:focus {
    width: 200px;
    border: 2px solid #fff;
    transition: width 1s ease-out;
    background-position: right;
  }
}

.slider {
}

.arrow {
  &-left {
  }

  &-right {
  }
}
