.main-header {
  min-height: 1024px;
  background-image: url(../img/bg_header.png);
  background-color: #f4f5f8;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.7);
  }
}

// .container {
//   margin: 0 auto;
// }

.header {
  z-index: 3;
  display: flex;
  align-items: center;
  padding-top: 40px;
  width: 1170px;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 219px;

  &__svg {
    fill: currentColor;
  }

  &__text {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
  }

  &:hover {
    color: #000;
  }
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 63px;

  &__link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
  }

  &__link:nth-child(2) {
    color: #c7b299;
  }

  &__link:last-child {
    margin-right: 0;
  }
}

.cart {
  appearance: none;
  border: 0;
  background: inherit;
  margin-right: 28px;
  padding: 0;

  &__svg {
    fill: #fff;
    vertical-align: middle;

    &:hover {
      fill: #000;
      cursor: pointer;
    }
  }
}

.btn-search__input[type="search"] {
  width: 24px;
  height: 24px;
  outline: none;
  background-image: url(../img/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  background-color: inherit;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #fff;

  &:focus {
    width: 200px;
    border: 2px solid #fff;
    transition: width 1s ease-out;
    background-position: right;
  }
}

.slider {
  z-index: 3;
  margin-top: 280px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 589px;

  &_subtitle {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &_title {
    font-family: "Raleway";
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &_text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 52px;
    text-align: center;
    word-wrap: break-word;
  }

  &_btn-start {
    display: flex;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    padding: 14px 38px;
    border: 0;

    &:hover {
      background-color: #111111;
    }

    &__text {
      color: #ffffff;
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      text-transform: uppercase;
    }
  }
}
