@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@400;500;700&family=Roboto&display=swap");

@font-face {
  font-family: "Montserrat-UltraLight";
  src: url("../fonts/montserrat-ultra-light.eot");
  src: local("☺"), url("../fonts/montserrat-ultra-light.woff") format("woff"),
    url("../fonts/montserrat-ultra-light.ttf") format("truetype"),
    url("../fonts/montserrat-ultra-light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "_normalize";
@import "_header";
@import "_direction";
@import "_realization";
@import "_purchase";
